<!DOCTYPE html>
<html>
<body>
    <div class='col-md-8'>


        <div class="module-body" id="newsletter">
            <div id="SecondNewsletter_Div" style="display:block;">
                <div id="" style="float: left; width: 100%; padding: 6px; ">
                    <img id="SecondNewsletter_Front" data-id="logoprvw" src="{firstimage}" alt="" width="845px" title="" />
                    <img id="SecondNewsletter_Back" data-id="logoprvw" src="{secondimage}" width="845px" alt="" title="" />
                </div>
            </div>
        </div>


    </div>
</body>
</html>
